{# src/DT/SecurityBundle/Resources/views/Security/login.html.twig #}

{% extends "DTSecurityBundle::index.html.twig" %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

<body>
		
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="{{asset('bundles/doctorama/public/img/logo.png')}}" width="48%" style="margin-top:-10px;"></a>
        </div>
      </div>
    </div>

    <div class="container">

        <div id="login-wraper" style="opacity:0.95;">
            <form action="{{ path('login_check') }}" method="post" class="form login-form">
                <legend>Accéder à <span class="blue">Doctor@ma</span></legend>
            
                <div class="body">
                    <label>Utilisateur</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                    
                    <label>Mot de passe</label>
                    <input type="password" id="password" name="_password">
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Se rappeler de moi
                    </label>
                                
                    <button type="submit" value="Connexion" class="btn btn-success">Connexion</button>
                </div>
            
            </form>
        </div>

    </div>

	<footer class="white navbar-fixed-bottom">
     
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('bundles/doctorama/public/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/doctorama/public/js/bootstrap.js')}}"></script>
    <script src="{{asset('bundles/doctorama/public/js/backstretch.min.js')}}"></script>
    <script src="{{asset('bundles/doctorama/public/js/typica-login.js')}}"></script>
</body>
		
{% endblock %}