{# src/DT/DoctoramaBundle/Resources/views/Template/template_dossierSuivis.html.twig#}
{{ form_start(formDoctorant, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_widget(formDoctorant._token) }}
{# Les erreurs générales du formulaire. #}
{{ form_errors(formDoctorant) }}
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="these">
        <legend>
            Informations sur la thèse 
        </legend>

        <div class="form-group">
            {{ form_label(formDoctorant.nom,"Nom",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.nom,{'attr': {'class': 'form-control'} }) }}
            </div>

        </div >
        <div class="form-group">
            {{ form_label(formDoctorant.prenom,"Prénom",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.prenom,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.mail,"Email",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.mail,{'attr': {'class': 'form-control'} }) }}
            </div>

        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.directeursDeThese,"Directeurs de these",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.directeursDeThese) }}
            </div>

        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.encadrants,"Encadrants",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.encadrants) }}
            </div>

        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.titreThese,"Titre These",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.titreThese,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.sujetThese,"Sujet These",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.sujetThese,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.axeThematique,"Axe Thèmatique",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.axeThematique,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.axeScientifique,"Axe Scientifique",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.axeScientifique,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.financement,"Financement",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.financement,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.dateInscr1eThese,"1ère inscription en thèse",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.dateInscr1eThese,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.dcace,"DCACE",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.dcace,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="doctorant">
        <legend>
            Informations sur le Master 
        </legend>
        <div class="form-group">
            {{ form_label(formDoctorant.nomFormationMaster,"Nom formation",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.nomFormationMaster,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.universiteMaster,"Université",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.universiteMaster,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.sujetMaster,"Sujet de Master",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.sujetMaster,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.laboratoireAcceuilMaster,"Laboratoire d'accueil",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.laboratoireAcceuilMaster,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.encadrantsMaster,"Encadrant(s)",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.encadrantsMaster,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.numEtudiant,"Num Étudiant",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.numEtudiant,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.bourseEtExoneration,"Bourse et éxonération",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.bourseEtExoneration,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.etabDernierDiplome,"Établ. dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.etabDernierDiplome,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.depDernierDiplome,"Dép. dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.depDernierDiplome,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.paysDernierDiplome,"Pays dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.paysDernierDiplome,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.libelleDernierDiplome,"Libellé dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.libelleDernierDiplome,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.anneeDernierDiplome,"Année dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.anneeDernierDiplome,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.nomUsage,"Libellé dernier diplôme",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.nomUsage,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.civilite,"Civilité",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.civilite,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.adresse,"Adresse",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.adresse,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.dateDeNaissance,"Date de naissance",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.dateDeNaissance) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.nationalite,"Nationalité",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.nationalite,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>    
        <div class="form-group">
            {{ form_label(formDoctorant.villeDeNaissance,"Ville de naissance",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.villeDeNaissance,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.paysDeNaissance,"Pays de naissance",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.paysDeNaissance,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.depDeNaissance,"Dép. de naissance",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.depDeNaissance,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.specialite,"Spécialité",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.specialite,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.laboratoire,"Laboratoire",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.laboratoire,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.dateDebut,"Date début",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.dateDebut) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.dateDeSoutenance,"Date de soutenance",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.dateDeSoutenance) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formDoctorant.these.mention,"Mention",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-9">
                {{ form_widget(formDoctorant.these.mention,{'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>