{# src/DT/DoctoramaBundle/Resources/views/Doctorama/admin_utilisateur.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

    <legend>
        <h3> {{title}} </h3>
    </legend>

    <section class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#SansRole" aria-controls="sansrole" role="tab" data-toggle="tab">Nouveaux Utilisateurs</a>
            </li>
            <li role="presentation">
                <a href="#AvecRole" aria-controls="avecrole" role="tab" data-toggle="tab">Modifier un utilisateur</a>
            </li>
        </ul>

        <section class="tab-content">
            <article role="tabpanel" class="tab-pane active" id="SansRole">
                <form action="" method="post">

                    <section class="table-responsive col-xs-12 col-md-push-1 col-md-7 border1px" style="margin-top:15px;" >
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th> Login </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="login[]" value="log1">
                                    </td>
                                    <td>log1</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="login[]" value="log2">
                                    </td>
                                    <td>log2</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="login[]" value="log3">
                                    </td>
                                    <td>log3</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="login[]" value="log4">
                                    </td>
                                    <td>log4</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="col-xs-12 col-md-push-1 col-md-2" style="margin-top:15px;" >
                        <h4> Attribuer le rôle : </h4>
                        <p> <button type="submit" class="btn btn-success">Doctorant</button> </p>
                        <p> <button type="submit" class="btn btn-success">Encadrant</button> </p>
                        <p> <button type="submit" class="btn btn-success">Directeur de thèse</button> </p>
                    </section>
                </form>

            </article>
            <article role="tabpanel" class="tab-pane" id="AvecRole">
                <section class="table-responsive col-xs-12 col-md-push-1 col-md-10 border1px" style="margin-top:15px;" >
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th> Nom </th>
                                <th> Prenom </th>
                                <th> Rôle </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compte in comptesActifs %}
                                {% if compte.encadrant is defined and compte.encadrant != null %} 
                                    <tr>
                                        <td>{{compte.encadrant.nom}}</td>
                                        <td>{{compte.encadrant.prenom}}</td>
                                        <td>{{compte.roles|join(', ')}}</td>
                                        <td class="pull-right"> 
                                            <a class="btn btn-default" href="{{ path('dt_doctorama_admin_infos_perso', {'id_compte':compte.id}) }}" role="button"> Modifier </a> 
                                        </td>
                                    </tr>
                                    
                                {% elseif compte.doctorant is defined and compte.doctorant != null %} 
                                    <tr>
                                        <td>{{compte.doctorant.nom}}</td>
                                        <td>{{compte.doctorant.prenom}}</td>
                                        <td>{{compte.roles|join(', ')}}</td>
                                        <td class="pull-right"> 
                                            <a class="btn btn-default" href="{{ path('dt_doctorama_admin_infos_perso', {'id_compte':compte.id}) }}" role="button"> Modifier </a> 
                                        </td>
                                    </tr>
                                {% endif %}

                            {% endfor %}
                            
                        </tbody>
                    </table>
                </section>

            </article>
        </section>
    </section>

    <!--
    
            
        </section>
    -->

{% endblock %}