{# src/DT/DoctoramaBundle/Resources/views/Doctorama/admin_dossier.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

	<div class="page-header borderColor">
      <h2>Calendrier Réunions</h2>
    </div>
	
	<section class="row" >
		<div class="col-lg-5 col-md-6">
			Reunions pour le 
			{{"now"|date("m/d/Y")}}
				<div class="table-responsive">
				<table class="table border1px table-striped">
					<thead>
						<tr>
							  <th>#</th>
							  <th>{{"now"|date("m/d")}} </th>
							  <th>Participants</th>
							  <th>Salle</th>
						</tr>
					</thead>
					 <tbody>

					 {% for reunion in reunions %}
					    <tr>
					    <td>1</td>
					    <td>{{ reunion.date|date("H:i:s") }}</td>
					    <td>
					    {%set chaine = '' %}
					   
						    {% for participant in reunion.personnes %}
						     {{ participant.nom  ~ " " ~   participant.prenom }}
						   {% endfor %}
						    <span class="pull-right glyphicon glyphicon-collapse-down" data-toggle="tooltip" data-content="{% for participant in reunion.personnes %}
						     {{ participant.nom  ~  participant.prenom }}
						   {% endfor %} "> </span></td>
						   <td>{{reunion.lieu}} </td>

						</tr>
					{% endfor %}
					 <div></div>	
					</tbody>
				</table>
				</div>
		</div>
		<div class="col-lg-7 col-md-6 ">
			<div id='calendar'></div>
		</div>
	</section>

{% endblock %}
