{# src/DT/DoctoramaBundle/Resources/views/Doctorama/admin_dossier.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}
	
	<legend>
      <h3>Calendrier Réunions</h3>

    </legend>
	
	<section class="row" >
		
		<div class="col-lg-5 col-md-6">
                    {% if is_granted('ROLE_DIRECTEUR_THESE') or is_granted('ROLE_ENCADRANT') %} 
                        <a href="{{ path('dt_creation_reunion') }}" style="margin-bottom:15px;" class="btn  btn-success" role="button">Création Réunion</a>	
                    {% endif %}
                                {% for j in 0..7 %}
					{%set i = 0%}
					 
					<div class="table-responsive">
					<table class="table border1px table-striped">
					{%set b = 0%}
					{% for reu in reunions %}
						{%if date(reu.reunion.date)|date("d/m") == ("now"|date_modify("+" ~ j ~ "day")|date("d/m"))  %}   
					 	  	{%set i = i+1%}
					 	  	{%if b == 0%}
							 	<thead>
									<tr>
										  <th>#</th>
										  <th>{{"now"|date_modify("+" ~ j ~ "day")|date("d/m")}} </th>
										  <th>Participants</th>
										  <th>Salle</th>
										  <th> </th>
									</tr>
								</thead>
								{%set b = 1%}
							{% endif %}
						 	<tbody>
							    <tr>
								    <td>   {{i}}   </td>
								    <td>{{ reu.reunion.date|date("H:i") }}</td>
								    <td>
								    {%set chaine = '' %}
								     		{{ reu.participants[0].nom  ~ " " ~   reu.participants[0].prenom }}

									   <span class="pull-right glyphicon glyphicon-collapse-down" data-toggle="tooltip" data-content="{% for participant in reu.participants %}
								     		{{ participant.nom  ~ " " ~   participant.prenom }}
									   	{% endfor %}"> </span>
									</td>
									 <td>{{reu.reunion.lieu}} </td>
                                                                         {% if is_granted('ROLE_DIRECTEUR_THESE') or is_granted('ROLE_ENCADRANT') %} 
                                                                            <td class=" pull-right"><a href="{{ path('dt_modif_reunion', {'id_reunion': reu.reunion.id}) }}" class="btn btn-xs btn-info" role="button">Détails</a></td>
                                                                         {%else%}
                                                                             <td/>
                                                                         {%endif%}
                                                                </tr>
							</tbody>
					 	{% endif %}
				 	{% endfor %}
				</table>
				</div>
				{% endfor %}
		</div>
		<div class="col-lg-7 col-md-6 ">
			<div id='calendar'></div>
		</div>
	</section>

{% endblock %}
