{# src/DT/DoctoramaBundle/Resources/views/Doctorama/modif_template.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

    <legend>
        <h3> {{title}} </h3>
    </legend>


    <section class="row">
            <a href="{{ path('dt_doctorama_modif_fiche') }}" class="btn btn-danger" role="button" style="margin-bottom:15px">Revenir aux dernières sauvegardes</a>

            <form methode="get" action="{{ path('dt_doctorama_add_template') }}"  >
                <div class="input-group recherche" >
                    
                        <input type="text" class="form-control" name="template_libelle" placeholder="Nouveau template"/>
                        <span class="input-group-btn">
                            <input class="btn btn-success" id="add_template" value="Ajouter" type="submit"/>
                        </span>
                    
                </div>
            </form>


            <ul class="nav nav-tabs" role="tablist">
                {%set i=0 %}
                {% for template in templates %}
                    {%if i == 0 %}
                        <li role="presentation" class="active">
                            <a href="{{'#'~template.titre}}" aria-controls="sansrole" role="tab" data-toggle="tab">{{template.titre}}</a>
                        </li>
                        {% set i=1 %}
                    {% else %}
                        <li role="presentation">
                            <a href="{{'#'~template.titre}}" aria-controls="avecrole" role="tab" data-toggle="tab">{{template.titre}}</a>
                        </li>
                    {% endif%}
                {% endfor %}
            </ul>


            <section class="tab-content">



                {%set i=0 %}
                {% for template in templates %}
                    {%if i == 0 %}
                        <article role="tabpanel" class="tab-pane jumbotron backgroundWhite active" id="{{template.titre}}">
                        {% set i=1 %}
                    {% else %}
                        <article role="tabpanel" class="tab-pane jumbotron backgroundWhite" id="{{template.titre}}">
                    {% endif%}
                
                            <div class="input-group">
                                <input type="text" class="form-control {{template.titre}}" id="add_input_question" placeholder="Nouvelle question"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="add_question" type="button">Ajouter</button>
                                </span>
                            </div>

                            <form methode="get" action="{{ path('dt_doctorama_modif_fiche_form') }}"  >
                                <table class="table border1px table-striped" style="margin-top:25px;">
                                    <input type="hidden" value="{{template.version}}" name="version"/>
                                    <input type="hidden" value="{{template.titre}}" name="libelle"/>
                                    <thead>
                                    </thead>
                                    <tbody id="{{template.titre}}">
                                        {% for question in template.questions %}
                                            <tr>
                                                <input type="hidden" value="{{question}}" name="question[]"/>
                                                <td> {{question}} </td>
                                                <td> 
                                                    <i class="btn-sm btn-danger sup_question ">Supprimer</i> 
                                                    <i class="btn-sm btn-warning modif_question {{template.titre}}">Modifier</i> 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <input type="submit" class="btn btn-success" value="Enregistrer"/>
                            </form>
                        </article>
                {% endfor %}

                <article role="tabpanel" class="tab-pane jumbotron backgroundWhite" id="#plus">
zrfd
                </article>
            </section>

    </section>


{% endblock %}