{# src/DT/DoctoramaBundle/Resources/views/Doctorama/modif_dossier.html.twig #}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

        <legend>
          <h3>Modifier dossier de suivi </h3>
        </legend>
        
        <section class="row">
            <div>
                <legend>
                    Information sur la thèse 
                </legend>
                {{ form_start(formDoctorant, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_widget(formDoctorant._token) }}
                {# Les erreurs générales du formulaire. #}
                 {{ form_errors(formDoctorant) }} 
                <div class="form-group">
                {{ form_label(formDoctorant.nom,"Nom",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                <div class="col-sm-9">
                    {{ form_widget(formDoctorant.nom,{'attr': {'class': 'form-control'} }) }}
                </div>
                
                </div >
                <div class="form-group">
                    {{ form_label(formDoctorant.prenom,"Prénom",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(formDoctorant.prenom,{'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                 <div class="form-group">
                    {{ form_label(formDoctorant.mail,"Email",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(formDoctorant.mail,{'attr': {'class': 'form-control'} }) }}
                    </div>

                </div>
                <div class="form-group">
                    {{ form_label(formDoctorant.these.titreThese,"Titre These",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(formDoctorant.these.titreThese,{'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(formDoctorant.these.sujetThese,"Sujet These",{'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(formDoctorant.these.sujetThese,{'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="axe_th" class="col-sm-3 control-label">Axe thématique</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="axe_th" placeholder="Axe thématique">
                    </div>
                </div>
                <div class="form-group">
                    <label for="axe_sc" class="col-sm-3 control-label">Axe scientifique</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="axe_sc" placeholder="Axe scientifique">
                    </div>
                </div>
                <div class="form-group">
                    <label for="finance" class="col-sm-3 control-label">Financement</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="finance" placeholder="Financement">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date_1er" class="col-sm-3 control-label">1ère inscription en thèse</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" name="date_1er" placeholder="Date de 1ère inscription en thèse">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dcace" class="col-sm-3 control-label">DCACE ?</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="dcace" placeholder="DCACE?">
                    </div>
                </div>

                <legend>
                    Information sur le Master 
                </legend>
                <div class="form-group">
                    <label for="nom_mast" class="col-sm-3 control-label">Nom formation</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="nom_mast" placeholder="Nom de la formation">
                    </div>
                </div>
                <div class="form-group">
                    <label for="univ" class="col-sm-3 control-label">Université</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="univ" placeholder="Université">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sujet_mast" class="col-sm-3 control-label">Sujet de Master</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="sujet_mast" placeholder="Sujet de Master">
                    </div>
                </div>
                <div class="form-group">
                    <label for="labo_acc" class="col-sm-3 control-label">Laboratoire d'accueil</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="labo_acc" placeholder="Laboratoire d'accueil">
                    </div>
                </div>
                <div class="form-group">
                    <label for="enc_mast" class="col-sm-3 control-label">Encadrant(s)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="enc_mast" placeholder="Encadrant(s)">
                    </div>
                </div>

                <legend> </legend>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ form_widget(formDoctorant.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        <button type="submit" class="btn btn-danger">Annuler</button>
                    </div>
                </div>
                {{ form_rest(formDoctorant) }}
                {{ form_end(formDoctorant) }}
            </div>
        </section>
    
{% endblock %}